env
.env
data
core/__pycache__
api/__pycache__
api/migrations
api/management/commands/__pycache__
media
static
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/tests/auth/user.json